!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title RailsAuthorizer
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    - if notice or alert
      - if notice
        .alert.alert-success
          = notice
          %a.close{href: '#', 'data-dismiss': 'alert', 'aria-hidden': 'true'}
            &times;
      - elsif alert
        .alert.alert-danger
          = alert
          %a.close{href: '#', 'data-dismiss': 'alert', 'aria-hidden': 'true'}
            &times;
    = yield
